# Ex - Indexing

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [36]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called

In [37]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df_chipotle = pd.read_table(url)
df_chipotle

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. Get the Last 5 Rows of the Column Item Price only

In [38]:
df_chipotle.iloc[-5:,4]

4617    $11.75
4618    $11.75
4619    $11.25
4620     $8.75
4621     $8.75
Name: item_price, dtype: object

### Step 5. Convert the Item Price to the Data type of Float from object

In [40]:
df_chipotle["item_price"] = df_chipotle["item_price"].str[1:]
df_chipotle["item_price"] = df_chipotle["item_price"].astype("float")
df_chipotle.info()
df_chipotle

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 6. Get the Index of the Record who has Highest Item Price

In [41]:
df_chipotle["item_price"].idxmax()

3598

### Step 7. Get the First 5 Highest Item Price Records

In [43]:
df_chipotle.sort_values(by="item_price",ascending=False).head()

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",35.25
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",35.00
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",33.75

### Step 8. Get the First 5 Lowest Item Price Records

In [44]:
df_chipotle.sort_values(by="item_price",ascending=False).tail()

      order_id  quantity      item_name choice_description  item_price
3936      1578         1    Canned Soda  [Diet Dr. Pepper]        1.09
2922      1162         1  Bottled Water                NaN        1.09
1396       567         1    Canned Soda        [Coca Cola]        1.09
2562      1014         1    Canned Soda        [Coca Cola]        1.09
1457       591         1    Canned Soda           [Sprite]        1.09

### Step 9. Get the Indexes where any column is na

In [59]:
df_chipotle[df_chipotle.isnull()["choice_description"] == True].index

Int64Index([   0,    3,    6,   10,   14,   15,   20,   25,   30,   32,
            ...
            4582, 4584, 4588, 4596, 4598, 4600, 4605, 4613, 4614, 4616],
           dtype='int64', length=1246)

### Step 10. Get the Indexes where all columns are specified

In [60]:
df_chipotle[df_chipotle.isnull()["choice_description"] == False].index

Int64Index([   1,    2,    4,    5,    7,    8,    9,   11,   12,   13,
            ...
            4609, 4610, 4611, 4612, 4615, 4617, 4618, 4619, 4620, 4621],
           dtype='int64', length=3376)

### Step 11. Get the Value whose Index if 453 and Column must be only Description

In [62]:
df_chipotle.iloc[453,3]

'[Fresh Tomato Salsa, [Sour Cream, Lettuce]]'

### Step 12. Get the Record nearly after Half of Length of Dataset

In [65]:
half_index = len(df_chipotle) // 2
half_index
df_chipotle.iloc[[half_index]]

,order_id,quantity,item_name,choice_description,item_price
2311,926,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

### Step 13. Get the First and Last Record of the Dataset

In [68]:
df_chipotle.iloc[[0,4621]]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 14. Get all Indexes where Item name is "Chips and Fresh Tomato Salsa"

In [73]:
df_chipotle.query("item_name == 'Chips and Fresh Tomato Salsa'").index

Int64Index([   0,   25,   55,   89,  183,  194,  240,  265,  267,  302,
            ...
            4065, 4073, 4090, 4102, 4163, 4231, 4318, 4324, 4425, 4503],
           dtype='int64', length=110)

### Step 15. Get all Indexes where Item Price is more than 30$

In [78]:
df_chipotle.query("item_price > 30").index

Int64Index([409, 1254, 3480, 3598, 3601, 3602], dtype='int64')

### Step 16. Get all Indexes where Item Price is Between than 25 and 30 ($)

In [86]:
df_chipotle.query("item_price > 25 and item_price < 30").index

Int64Index([1255, 1514, 3334, 3603, 3634, 3636], dtype='int64')