# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [4]:
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [5]:
print("Continent that drinks more beer:",drinks["country"].loc[drinks.beer_servings.idxmax()])

Continent that drinks more beer: Namibia

### Step 5. For each continent print the statistics for wine consumption.

In [6]:
drinks.groupby

<bound method DataFrame.groupby of          country  beer_servings  spirit_servings  wine_servings
0    Afghanistan              0                0              0  \
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
0                             0.0        AS
1                             4.9        EU
2                             0.7        AF
3                            12.4        EU
4                             5.9        AF
..                            ...       ...
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

[193 rows x 6 columns]>

### Step 6. Print the mean alcohol consumption per continent for every column

In [7]:
drinks.groupby(by="country").mean()

TypeError: Could not convert AS to numeric

### Step 7. Print the median alcohol consumption per continent for every column

In [ ]:
drinks.groupby(by="country").median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
country,,,,
Afghanistan,0.0,0.0,0.0,0.0
Albania,89.0,132.0,54.0,4.9
Algeria,25.0,0.0,14.0,0.7
Andorra,245.0,138.0,312.0,12.4
Angola,217.0,57.0,45.0,5.9
...,...,...,...,...
Venezuela,333.0,100.0,3.0,7.7
Vietnam,111.0,2.0,1.0,2.0
Yemen,6.0,0.0,0.0,0.1
Zambia,32.0,19.0,4.0,2.5
Zimbabwe,64.0,18.0,4.0,4.7

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [ ]:
stats = pd.DataFrame(drinks["spirit_servings"].describe())
stats.loc[["mean","max","min"]]

      spirit_servings
mean        80.994819
max        438.000000
min          0.000000